/*
0 - 600px:      Phone
600 - 900px:    Tablet portrait
900 - 1200px:   Tablet landscape
[1200 - 1800] is where our normal styles apply
1800px + :      Big desktop

$breakpoint arguement choices:
- phone
- tab-port
- tab-land
- big-desktop

ORDER: Base + typography > general layout + grid > page layout > components

1em = 16px
*/
@import url("https://fonts.googleapis.com/css?family=Heebo:300,400,700");
@keyframes fad-out-blue {
  from {
    background-color: rgba(27, 112, 238, 0.3); }
  to {
    background-color: rgba(27, 112, 238, 0); } }

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  font-size: 62.5%; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 56.25%; } }
  @media only screen and (max-width: 56.25em) {
    html {
      font-size: 50%; } }
  @media only screen and (min-width: 112.5em) {
    html {
      font-size: 75%; } }

body {
  box-sizing: border-box; }

main {
  box-sizing: border-box;
  padding: 50px 3rem;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; }

::selection {
  background-color: #3aa077;
  color: #fff; }

[draggable] {
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  -khtml-user-drag: element;
  -webkit-user-drag: element; }

/* Google fonts */
body {
  font-family: "Heebo", sans-serif;
  font-weight: 400;
  font-size: 1.618rem;
  color: #2D3142; }

h1 {
  font-weight: 700;
  font-size: 4.236rem;
  text-transform: uppercase; }

h2 {
  font-weight: 700;
  font-size: 2.618rem;
  text-transform: uppercase; }

h3 {
  font-weight: 700;
  font-size: 1.25rem;
  text-transform: uppercase; }

p {
  font-weight: 400;
  font-size: 1.618rem; }

.btn, .btn:link, .btn:visited {
  text-decoration: none;
  display: inline-block;
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  transition: all .2s;
  position: relative;
  font-size: 1.35rem;
  font-family: "Heebo", sans-serif;
  border: none;
  cursor: pointer; }

.btn:active, .btn:focus {
  outline: none; }

header {
  display: block;
  padding: 60px 20px;
  text-align: center;
  background: #2D3142;
  color: #fff;
  width: 100%; }
  header h2 {
    text-transform: none;
    font-weight: 400; }

.info {
  width: 30%; }
  .info .title {
    padding: 15px 15px 8px; }
    .info .title + p {
      padding: 0 15px 15px; }
  .info .inner {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    background: #f5f5f5;
    border: 1px solid #cacaca;
    border-radius: 5px;
    padding: 15px; }
    .info .inner__title {
      display: block;
      padding: 0 12px;
      width: 100%; }
    .info .inner__description {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 3px 5px;
      border-radius: 5px;
      width: 100%;
      background: #2D3142;
      color: #fff; }
      .info .inner__description .icon {
        position: relative;
        margin: 0 0 0 auto;
        padding: 3px 5px 2px 7px;
        position: relative;
        margin: 0;
        display: flex;
        align-items: center; }
        .info .inner__description .icon span {
          position: relative;
          z-index: 5;
          display: none;
          font-family: "Heebo", sans-serif;
          font-size: 1rem;
          text-align: center;
          color: #fff;
          padding: 6px 8px 4px;
          border-radius: 3px;
          background: rgba(45, 49, 66, 0.8);
          border: 1px solid #2D3142;
          position: absolute;
          bottom: 30px;
          left: 50%;
          transform: translateX(-50%);
          width: 80px; }
          .info .inner__description .icon span:after {
            position: absolute;
            left: 50%;
            bottom: -5px;
            transform: translateX(-50%);
            content: "";
            display: block;
            width: 0;
            height: 0;
            border-left: 5px solid transparent;
            border-right: 5px solid transparent;
            border-top: 5px solid rgba(45, 49, 66, 0.8); }
        .info .inner__description .icon:hover span {
          display: block; }
        .info .inner__description .icon p {
          font-size: 1.25rem;
          margin-right: 5px; }
          .info .inner__description .icon p.bem {
            letter-spacing: 8px;
            margin-right: 7px; }
        .info .inner__description .icon span {
          width: 115px; }
  .info .list {
    width: 100%;
    list-style-type: none;
    padding: 0; }
    .info .list .list--item {
      font-size: 1.25rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: auto;
      margin: 5px auto;
      padding: 5px 8px;
      cursor: move;
      background: #fafafa;
      border-radius: 5px;
      border: 1px solid #cacaca; }
      .info .list .list--item span {
        margin-left: 5px; }
    .info .list input#id {
      margin: auto 5px auto 0; }
    .info .list .draggingElement {
      opacity: 0.4; }
    .info .list .over {
      border-bottom: 2px dotted #1b70ee; }
    .info .list .bem-wrapper {
      margin: 0 0 0 auto; }
    .info .list .checkbox__element {
      margin: 0 5px; }
    .info .list .remove {
      background: #596069;
      margin: 0 0 0 10px; }
  .info hr {
    width: 95%;
    margin: 6px auto 10px; }
  .info .addItemInput {
    width: 65%;
    border-radius: 5px 0 0 5px;
    text-indent: 10px;
    border: 1px solid #1b70ee; }
  .info .addItemButton {
    width: 35%;
    border-radius: 0 5px 5px 0;
    background: #1b70ee; }
  .info .generateCode {
    width: 100%;
    background: #3aa077;
    margin-top: 10px; }

.code {
  width: 67%;
  display: block; }
  .code .title {
    padding: 15px 15px 8px; }
    .code .title + p {
      padding: 0 15px 15px; }
  .code h2:not([class*="title"]) {
    margin-bottom: 10px;
    font-weight: 400;
    font-size: 1.618rem;
    text-transform: none; }
  .code .inner {
    border: 1px solid #cacaca;
    border-radius: 5px 8px;
    padding: 15px; }
  .code .row {
    margin-bottom: 15px; }
  .code .wrapper {
    display: flex;
    align-items: flex-start;
    background: #f5f5f5;
    padding: 5px;
    border-radius: 5px;
    border: 1px solid #cacaca;
    min-height: 20px;
    font-weight: 300; }
    .code .wrapper p {
      width: 90%;
      min-height: 24px;
      height: 20px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .code .wrapper.show p {
      height: auto !important; }
    .code .wrapper.show .expandTextArea span:before {
      content: "Hide "; }
    .code .wrapper.show .expandTextArea .fa-eye:before {
      content: '\f070' !important; }
  .code .copyTextArea,
  .code .expandTextArea {
    margin: 0 0 0 auto;
    padding: 3px 5px 2px 7px;
    position: relative;
    background: #596069; }
    .code .copyTextArea span,
    .code .expandTextArea span {
      position: relative;
      z-index: 5;
      display: none;
      font-family: "Heebo", sans-serif;
      font-size: 1rem;
      text-align: center;
      color: #fff;
      padding: 6px 8px 4px;
      border-radius: 3px;
      background: rgba(45, 49, 66, 0.8);
      border: 1px solid #2D3142;
      position: absolute;
      bottom: 30px;
      left: 50%;
      transform: translateX(-50%);
      width: 80px; }
      .code .copyTextArea span:after,
      .code .expandTextArea span:after {
        position: absolute;
        left: 50%;
        bottom: -5px;
        transform: translateX(-50%);
        content: "";
        display: block;
        width: 0;
        height: 0;
        border-left: 5px solid transparent;
        border-right: 5px solid transparent;
        border-top: 5px solid rgba(45, 49, 66, 0.8); }
    .code .copyTextArea:hover span,
    .code .expandTextArea:hover span {
      display: block; }
  .code .expandTextArea span:before {
    visibility: visible;
    content: "Show ";
    color: #fff; }
  .code .copyTextArea {
    margin: 0 0 0 5px; }
  .code .copied {
    background-color: rgba(27, 112, 238, 0.3);
    border-color: #1b70ee;
    transition: all .3s ease-in-out; }

footer {
  display: block;
  padding: 20px;
  text-align: center;
  background: #2D3142;
  color: #fff;
  width: 100%; }
  footer p {
    font-size: 1rem; }
