
// FONT
$font-size-xxx-small:   1rem;
$font-size-xx-small:    1.25rem;
$font-size-small:       1.35rem;
$font-size-default:     1.618rem;
$font-size-large:       2.618rem;
$font-size-x-large:     4.236rem;
$font-size-xx-large:    6.854rem;
$font-primary:          'Heebo', sans-serif;
$font-weight-normal:     400;
$font-weight-bold:       700;


// COLORS
$color-white:           #fff;
$color-black:           #2D3142;
$color-black-2:         #0E1116;

$color-gray:            #f5f5f5;
$color-gray-2:          #ACCBE1;
$color-gray-3:          #cacaca;
$color-gray-4:          #596069;
$color-gray-5:          #fafafa;
$color-green:           #3aa077;
$color-blue:            #1b70ee;


