.code {
    width: 67%;
    display: block;

    .title {
        padding: 15px 15px 8px;

        +p {
            padding: 0 15px 15px;
        }
    }

    h2:not([class*="title"]) {
        margin-bottom: 10px;
        font-weight: $font-weight-normal;
        font-size: $font-size-default;
        text-transform: none;
    }

    .inner {
        border: 1px solid $color-gray-3;
        border-radius: 5px 8px;
        padding: 15px;
    }

    .row {
        margin-bottom: 15px;
    }

    .wrapper {
        display: flex;
        align-items: flex-start;
        background: $color-gray;
        padding: 5px;
        border-radius: 5px;
        border: 1px solid $color-gray-3;
        min-height: 20px;
        font-weight: 300;

        p {
            width: 90%;
            min-height: 24px;
            height: 20px;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
        }

        //When the button expandTextArea is clicked
        &.show {
            p {
                height: auto !important;
            }

            .expandTextArea {
                span {
                    &:before {
                        content: "Hide ";
                    }
                }

                .fa-eye:before {
                    content: '\f070' !important;
                }
            }
        }
    }

    .copyTextArea,
    .expandTextArea {
        @include tooltip;
        background: $color-gray-4;
    }

    .expandTextArea {

        span {
            &:before {
                visibility: visible;
                content: "Show ";
                color: $color-white;
            }
        }
    }

    .copyTextArea {
        margin: 0 0 0 5px;
    }

    .copied {
        background-color: rgba($color-blue, .3);
        border-color: $color-blue;
        transition: all .3s ease-in-out;
    }
}
