/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Heebo:300,400,700');

body {
    font-family: $font-primary;
    font-weight: $font-weight-normal;
    font-size: $font-size-default;
    color: $color-black;

}

h1 {
    font-weight: $font-weight-bold;
    font-size: $font-size-x-large;
    text-transform: uppercase;
}

h2 {
    font-weight: $font-weight-bold;
    font-size: $font-size-large;
    text-transform: uppercase;
}

h3 {
    font-weight: $font-weight-bold;
    font-size: $font-size-xx-small;
    text-transform: uppercase;
}

p {
    font-weight: 400;
    font-size: $font-size-default;
}